body{
    background-color: #bdbab8;
    margin: 0px;
    margin-bottom: 100px;
}

.container{
    width: 80%;
    display: flex;
    margin: auto;
}

.header{
    background-color: #3560a0;
    color: #FFFFFF;
    display: flex;
    font-family: Verdana;
}

.header .container{
    justify-content: space-between;
}

.card{
    height: 250px;
    padding: 5%;
    width: 100%;
    background-color: #F3F0EB;
    margin-top: 100px;
    display: flex;
    border-radius: 10px;
}

.corpoDash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 400px;
}

.destaque{
    font-weight: bold;
}

canvas{
    margin: 10px;
}